.toolbar {
    text-align: center;
    width: 100%;
    background-color: #7E0EB4;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    height: fit-content;
    max-height: 10vh;
}

.toolbar img {
    float: left;
    height: 50px;
    padding: 5px 30px;
    object-fit: contain;
}

.toolbar a {
    float: left;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    max-height: 10vh;
    height: 28px;
}

.toolbar a:hover {
    background-color: #4E008E;
}

.toolbar a.activePage {
    background-color: #F6F6F6;
    color: #7E0EB4;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.main {
    border-radius: 10px;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    background-color: #26003A;
    border-width: 2px;
    border-style: groove;
    border-color: #F6F6F6;
}

.main a {
    font-size: larger;
    border-width: 2px;
    border-style: groove;
    border-color: #F6F6F6;
    border-radius: 10px;
    padding: 10px;
    background-color: #8335B5;
    text-decoration: none;
    text-align: center;
    color: #F6F6F6;
}

.main a:hover {
    background-color: #4E008E;
}

.links {
    padding-bottom: 30px;
}

.content {
    padding: 25px 15px;
    width: 70vw;
    margin: auto;
    text-align: center;
    color: #F6F6F6;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentItem {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    background-color: #26003A;
    display: flex;
    border-width: 2px;
    border-style: groove;
    border-color: #F6F6F6;
}

.vDiv {
    margin-top: 17px;
    margin-bottom: 17px;
    width: 1px;
    background-color: #F6F6F6;
}

.contentText {
    flex-grow: 1;
}

.contentIcon {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.download {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 120px;
    min-width: 120px;
    width: 120px;
}

.rowBreak {
    height: 0;
    flex-basis: 100%;
}

.githubDownload {
    flex-basis: 100%;
    height: 0;
}

.download img {
    width: 50px;
}

body {
    margin: 50px 0;
    padding: 0;
    background-color: #603873;
}